/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fafafa;
  color: #222;
}

/* App wrapper styling */
#root {
  min-height: 100vh;
  display: 100%;
  flex-direction: column;
}
